body {
    font-family: 'Inter', sans-serif; /* Set the body font to Inter */
    margin: 0;
    padding: 0;
    color: #fff;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1em 0;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.title {
    font-family: 'Inter', sans-serif; /* Set the title font to Inter */
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #ffcc00;
}

/* Camera Icon */
.camera-icon {
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: cameraHover 1s ease-in-out infinite alternate;
}

.camera {
    width: 40px;
    height: 40px;
}

@keyframes cameraHover {
    0% { transform: scale(1); }
    100% { transform: scale(1.2); }
}

/* Footer and Content Styles */
footer {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 1em 0;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.section-title {
    font-family: 'Inter', sans-serif; /* Set the section title font to Inter */
    font-size: 2.5em;
    color: #ffcc00;
    margin-bottom: 20px;
}

.about-text {
    font-size: 1.2em;
    line-height: 1.6;
    color: #f0f0f0;
    margin: 0 auto;
    max-width: 800px;
}
/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #ffcc00;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #e6b800;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
